head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='imagetoolbar' content='no')
	meta(name='msthemecompatible' content='no')
	meta(name='cleartype' content='on')
	meta(name='HandheldFriendly' content='True')

	meta(name='format-detection' content='telephone=no')
	meta(name='format-detection' content='address=no')

	meta(name='theme-color' content='#ffffff')

	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

	link(sizes='57x57'   href='/apple-touch-icon-57x57.png'   rel='apple-touch-icon')
	link(sizes='114x114' href='/apple-touch-icon-114x114.png' rel='apple-touch-icon')
	link(sizes='72x72'   href='/apple-touch-icon-72x72.png'   rel='apple-touch-icon')
	link(sizes='144x144' href='/apple-touch-icon-144x144.png' rel='apple-touch-icon')
	link(sizes='60x60'   href='/apple-touch-icon-60x60.png'   rel='apple-touch-icon')
	link(sizes='120x120' href='/apple-touch-icon-120x120.png' rel='apple-touch-icon')
	link(sizes='76x76'   href='/apple-touch-icon-76x76.png'   rel='apple-touch-icon')
	link(sizes='152x152' href='/apple-touch-icon-152x152.png' rel='apple-touch-icon')
	link(sizes='180x180' href='/apple-touch-icon-180x180.png' rel='apple-touch-icon')

	link(sizes='192x192' href='/favicon-192x192.png' rel='icon' type='image/png')
	link(sizes='160x160' href='/favicon-160x160.png' rel='icon' type='image/png')
	link(sizes='96x96'   href='/favicon-96x96.png'   rel='icon' type='image/png')
	link(sizes='16x16'   href='/favicon-16x16.png'   rel='icon' type='image/png')
	link(sizes='32x32'   href='/favicon-32x32.png'   rel='icon' type='image/png')

	link(rel='manifest' href='/manifest.json')

	meta(name='application-name' content=pageTitle || '')
	meta(name='msapplication-tooltip' content=pageDescription || '')
	meta(name='msapplication-TileColor' content='#ffffff')
	meta(name='msapplication-TileImage' content='/mstile-large.png')
	meta(name='msapplication-starturl' content='https://csssr.github.io/csssr-project-template/')
	meta(name='msapplication-tap-highlight' content='no')
	meta(name='msapplication-square70x70logo' content='/mstile-small.png')
	meta(name='msapplication-square150x150logo' content='/mstile-medium.png')
	meta(name='msapplication-wide310x150logo' content='/mstile-wide.png')
	meta(name='msapplication-square310x310logo' content='/mstile-large.png')

	//- http://realfavicongenerator.net/faq#why_ico_not_declared

	block head
	title= pageTitle || ''
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')

	link(href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|PT+Sans+Narrow" rel="stylesheet")
	link(href='/assets/styles/app.min.css' rel='stylesheet')
	style
		| button[disabled],html,html input[disabled]{cursor:default}*,input[type=checkbox],input[type=radio]{box-sizing:border-box}.fp-enabled body,html,html.fp-enabled{-webkit-tap-highlight-color:transparent}*{margin:0;padding:0;font:inherit}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-focus-ring-color:rgba(255,255,255,0)}body{font-size:100%;line-height:1;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}a{background:0 0}:active,:focus,:hover{outline:0}hr{box-sizing:content-box;height:0}ol,ul{list-style:none}pre{-moz-tab-size:4;tab-size:4;white-space:pre-wrap}q{quotes:'\201C' '\201D' '\2018' '\2019'}img{border:none}svg:not(:root){overflow:hidden}button,input{line-height:normal}button,select{text-transform:none}button{overflow:visible}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:none;padding:0}textarea{overflow:auto;vertical-align:top}button,input,select[multiple],textarea{background-image:none}input,select,textarea{border-radius:0;box-shadow:none}input,textarea{resize:none;-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}[placeholder]:focus:-ms-input-placeholder{color:transparent}[placeholder]:focus::placeholder{color:transparent}table{border-collapse:collapse;border-spacing:0}/.fp-enabled body,html.fp-enabled{margin:0;padding:0;overflow:hidden}.fp-section{position:relative;box-sizing:border-box}.fp-slide{float:left}.fp-slide,.fp-slidesContainer{height:100%;display:block}.fp-slides{z-index:1;height:100%;overflow:hidden;position:relative;transition:all .3s ease-out}.fp-section.fp-table,.fp-slide.fp-table{display:table;table-layout:fixed;width:100%}.fp-tableCell{display:table-cell;vertical-align:middle;width:100%;height:100%}.fp-slidesContainer{float:left;position:relative}.fp-controlArrow{-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;-ms-user-select:none;position:absolute;z-index:4;top:50%;cursor:pointer;width:0;height:0;border-style:solid;margin-top:-38px;transform:translate3d(0,0,0)}.fp-controlArrow.fp-prev{left:15px;width:0;border-width:38.5px 34px 38.5px 0;border-color:transparent #fff transparent transparent}.fp-controlArrow.fp-next{right:15px;border-width:38.5px 0 38.5px 34px;border-color:transparent transparent transparent #fff}.fp-scrollable{overflow:hidden;position:relative}.fp-scroller{overflow:hidden}.iScrollIndicator{border:0!important}.fp-notransition{transition:none!important}#fp-nav{position:fixed;z-index:100;margin-top:-32px;top:50%;opacity:1;-webkit-transform:translate3d(0,0,0)}#fp-nav.right{right:17px}#fp-nav.left{left:17px}.fp-slidesNav{position:absolute;z-index:4;opacity:1;transform:translate3d(0,0,0);left:0!important;right:0;margin:0 auto!important}.fp-slidesNav.bottom{bottom:17px}.fp-slidesNav.top{top:17px}#fp-nav ul,.fp-slidesNav ul{margin:0;padding:0}#fp-nav ul li,.fp-slidesNav ul li{display:block;width:14px;height:13px;margin:7px;position:relative}.fp-slidesNav ul li{display:inline-block}#fp-nav ul li a,.fp-slidesNav ul li a{display:block;position:relative;z-index:1;width:100%;height:100%;cursor:pointer;text-decoration:none}#fp-nav ul li a.active span,#fp-nav ul li:hover a.active span,.fp-slidesNav ul li a.active span,.fp-slidesNav ul li:hover a.active span{height:12px;width:12px;margin:-6px 0 0 -6px;border-radius:100%}#fp-nav ul li a span,.fp-slidesNav ul li a span{border-radius:50%;position:absolute;z-index:1;height:4px;width:4px;border:0;background:#333;left:50%;top:50%;margin:-2px 0 0 -2px;transition:all .1s ease-in-out}#fp-nav ul li:hover a span,.fp-slidesNav ul li:hover a span{width:10px;height:10px;margin:-5px 0 0 -5px}#fp-nav ul li .fp-tooltip{position:absolute;top:-2px;color:#fff;font-size:14px;font-family:arial,helvetica,sans-serif;white-space:nowrap;max-width:220px;overflow:hidden;display:block;opacity:0;width:0;cursor:pointer}#fp-nav ul li:hover .fp-tooltip,#fp-nav.fp-show-active a.active+.fp-tooltip{transition:opacity .2s ease-in;width:auto;opacity:1}#fp-nav ul li .fp-tooltip.right{right:20px}#fp-nav ul li .fp-tooltip.left{left:20px}.fp-auto-height .fp-slide,.fp-auto-height .fp-tableCell,.fp-auto-height.fp-section,.fp-responsive .fp-auto-height-responsive .fp-slide,.fp-responsive .fp-auto-height-responsive .fp-tableCell,.fp-responsive .fp-auto-height-responsive.fp-section{height:auto!important}.burger{position:absolute;top:10px;right:10px;cursor:pointer;padding:20px;border:3px solid transparent;z-index:2000}.burger:hover{border:3px solid #fff;border-radius:100%;box-sizing:border-box}.burger__line{position:relative}.burger__line,.burger__line::after,.burger__line::before{display:block;width:36px;height:3px;background-color:#fff}.burger__line::after,.burger__line::before{position:absolute;content:''}.burger__line::before{top:-8px}.burger__line::after{top:8px}.burger__line_active{background-color:transparent;transition-duration:.3s}.burger__line_active::before{transform:translateY(8px) rotate(45deg);transition-duration:.3s}.burger__line_active::after{transform:translateY(-8px) rotate(-45deg)}.header{background:#31a290;font-family:'PT Sans Narrow'}.header__content{display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;height:50%;-ms-flex-align:center;align-items:center}.header__intro{-ms-flex-preferred-size:34%;flex-basis:34%;font-size:2em;line-height:1.3}.header__title{font-size:2em;font-family:'Alfa Slab One'}.header__media{-ms-flex-preferred-size:37%;flex-basis:37%;-ms-flex-negative:2;flex-shrink:2}.header__pres{border-radius:20%;max-width:90%}@media screen and (max-width:904px){.header__media{-ms-flex-preferred-size:50%;flex-basis:50%}}@media screen and (max-width:628px){.header__content{-ms-flex-direction:column;flex-direction:column;margin:0 auto;text-align:center;font-size:.8em;width:80%}.header__pres{max-width:70%}}.logo{display:block;position:absolute;top:10px;left:10px;width:62px;height:62px;border:4px solid #000;animation:dinamiccolor 20s infinite ease-in-out}.logo__pug{position:absolutes;animation:dinamicpug 20s infinite ease-in-out}.menu,.navigation{position:absolute}@keyframes dinamiccolor{0%,25%{border-color:#8e83b0}50%{border-color:#aa2f52}75%{border-color:#e0754d}}@keyframes dinamicpug{0%,25%{fill:#8e83b0}50%{fill:#aa2f52}75%{fill:#e0754d}}.menu{display:none;width:310px;top:0;right:0;z-index:3;height:100%;background-color:#69f}.menu_active{display:block}.menu__list{font-size:2em;margin-top:80px;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;width:100%}.menu__link{color:#fff;text-decoration:none;text-transform:uppercase;font-family:'PT Sans Narrow';padding:20px;display:block;border-top:2px solid #fff;width:100%;transition:all .5s}.menu__link:hover{transform:translate(4px)}.menu__link_border-b{border-bottom:2px solid #fff}.menu__link_color-green:hover{background-color:#33e47c}.menu__link_color-pink:hover{background-color:#993380}.menu__link_color-ye:hover{background-color:#e6e600}.menu__link_color-or:hover{background-color:#f90}.navigation{display:block;top:20%;right:-20px}.navigation__panel{display:inline-block}.navigation__elem{transform:rotate(90deg);padding:30px 2px;font-size:1.4em}.navigation__elem:hover{transform:rotate(75deg) scale(1.2)!important;transition:all .4s!important}.navigation__link{color:#fff;text-decoration:none}.page{color:#fff;font-size:14px}

